html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}

#main {
  margin: 25px;
  display: flex;
  flex-direction: column;
}

#main > div {
  margin-top: 10px;
  padding-left: 5px;
  padding-right: 5px;
}

.source {
  display: flex;
}

.source span {
  margin-left: 10px;
}

.samples {
  margin-top: 10px;
  margin-left: 5px;
}
